# Diziler
* Dizilerde Erişim
* str
    - Yardımcı Fonksiyonlar
* list
    - Ekleme
    - Güncelleme
    - Silme
    - Diğerleri
* tuple
    - index,count

## Dizilerde Erişim

In [3]:
var1 = "Turk Telekom" # str
var2 = ["a","b","c","d"] # list
var3 = ("a","b","c","d") # tuple

```
var1[baslangic:bitis-1:adim]
```

In [4]:
var1 = "BETA"
#       0123
#      -4-3-2-1
var1[0],var1[-4]

('B', 'B')

In [5]:
var1 = ["B","E","T","A"]
#       0.   1.  2.  3  
#       -4.  -3. -2. -1
var1[0],var1[-4]

('B', 'B')

In [6]:
var1 = ("B","E","T","A")
#       0.   1.  2.  3  
#       -4.  -3. -2. -1
var1[0],var1[-4]

('B', 'B')

In [7]:
var1[len(var2)-1],var1[-1]

('A', 'A')

In [8]:
var1 = "TÜRK TELEKOM"
#       012345
var1[0:4]

'TÜRK'

In [9]:
var1[0:-8]

'TÜRK'

In [10]:
var1[:-8]

'TÜRK'

In [11]:
var1[5:]

'TELEKOM'

In [12]:
var1[1:8:2] # 1 3 5 7

'ÜKTL'

In [13]:
tckimlikNo = "10000000146"
tckimlikNo[0:10:2] # 0 2 4 6 8

'10001'

In [14]:
liste = [1,2,3,4,5,6,7,8,9,10,11]
#        0 1 2 3 4 5 6 7 8 9 10
liste[1:8:2]

[2, 4, 6, 8]

In [15]:
liste[10:2:-3] # 10 7 4

[11, 8, 5]

In [16]:
liste[10:3:-1]

[11, 10, 9, 8, 7, 6, 5]

In [17]:
liste[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [18]:
liste[::-1]

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
liste = [["a","b","c"],["d","e","f"],["g","h","i"]]
#          0        1       2
liste[0] # => ["a","b","c"]
#              0 1 2
liste[0][2]

'c'

In [20]:
liste = ["BETA",[1,2,3,4,5]]
liste[0][1],liste[1][1]

('E', 2)

Yukarıdaki erişim yöntemleri str,list ve tuple veri tipleri için geçerlidir.

## str

In [21]:
var1 = ""
var2 = ''
var3 = """""" # docstring
print(type(var1),type(var2),type(var3))

<class 'str'> <class 'str'> <class 'str'>

In [22]:
var1 = "1"
var2 = "2"
var1 + var2 # concatenate

'12'

In [23]:
var1 = "BETA"
# var1[0] = "3" # 'str' object does not support item assignment => immutable bir veri tipi olduğu için hata verdi

In [24]:
a = "Teşekkürler Süpermen"

### Yardımcı Fonksiyonlar
* replace
* upper,lower
* split
* strip
* join
* capitalize
* format
* is fonksiyonları

In [25]:
# replace
a = "Teşekkürler Süpermen"
a.replace("e","ı").replace("ü","ı")

'Tışıkkırlır Sıpırmın'

In [26]:
a

'Teşekkürler Süpermen'

In [27]:
a = a.replace("e","ı").replace("ü","ı")
a

'Tışıkkırlır Sıpırmın'

In [28]:
# upper,lower
a = "Teşekkürler Süpermen "
a.upper()

'TEŞEKKÜRLER SÜPERMEN '

In [29]:
a = "Teşekkürler Süpermen"
a.lower()

'teşekkürler süpermen'

In [30]:
# split
satir = "Merhaba;TT Akademi;Beta;1;2;3;4\n"
satir.split() # parametre verilmezse boşluk dikkate alınır

['Merhaba;TT', 'Akademi;Beta;1;2;3;4']

In [31]:
satir = "Merhaba;TT Akademi;Beta;1;2;3;4\n"
satir.split(";") # parametre verilmezse boşluk dikkate alınır

['Merhaba', 'TT Akademi', 'Beta', '1', '2', '3', '4\n']

In [32]:
satir.split(";")[3]

'1'

--------------------------
```
Escape Sequence
\
\n
\b
\t
```

In [33]:
yol = "C:\talat\nalan\buket.html"
print(yol)

C:	alat
alauket.html

In [34]:
yol = "C:\\talat\\nalan\\buket.html"
print(yol)

C:\talat\nalan\buket.html

In [35]:
yol = r"C:\talat\nalan\buket.html" # raw string
print(yol)

C:\talat\nalan\buket.html

--------------------------

In [36]:
# strip 
var1 = "                               BETA AKADEMİ                            "
var1.strip()

'BETA AKADEMİ'

In [37]:
var1 = "            ____________A_____   BETA AKADEMİ         __________________   "
var1.strip("_ A")

'BETA AKADEMİ'

In [38]:
var1.rstrip("_ A")

'            ____________A_____   BETA AKADEMİ'

In [39]:
var1.lstrip("_ A")

'BETA AKADEMİ         __________________   '

In [40]:
# join
";".join(["Türk","Telekom","Beta","Akademi","Python"])

'Türk;Telekom;Beta;Akademi;Python'

In [41]:
import os
os.sep # Win => \ , Mac,Linux => /

'/'

In [42]:
os.sep.join(["Türk","Telekom","Beta","Akademi","Python"])

'Türk/Telekom/Beta/Akademi/Python'

In [43]:
# capitalize
"python".capitalize()

'Python'

In [44]:
# format
var1 = "Merhaba Sayın {} {}" # string interpolation
var1.format("Ali","Veli")

'Merhaba Sayın Ali Veli'

In [45]:
var1 = "Merhaba Sayın {1} {0}" # string interpolation
var1.format("Ali","Veli")

'Merhaba Sayın Veli Ali'

In [46]:
var1 = "Merhaba Sayın {a} {b}" # string interpolation
var1.format(a = "Ali",b = "Veli")

'Merhaba Sayın Ali Veli'

In [47]:
a = "Ali"
b = "Veli"
var1 = f"Merhaba Sayın {a} {b}" # string interpolation
var1

'Merhaba Sayın Ali Veli'

## list

In [48]:
liste = []
print(type(liste))

<class 'list'>

In [49]:
liste = [1,2,3,[1,2,3],"TT",(1,2,3),print]
liste[-1]("Merhaba")

Merhaba

---------------- 
index,rindex => (sadece str)

In [54]:
var1 = "TÜRK TELEKOM"
var1.index("T")

0

In [59]:
var1.rindex("T")

5

--------------------------------

### Ekleme

* `+`
* insert
* append
* extend

In [53]:
l1 = ["a","b"]
l2 = ["c","d"]
l1 + l2 # concatenate

['a', 'b', 'c', 'd']

In [66]:
l1 = ["a","b","c","a"]
#      0   1   2   3
l1.insert(1,"B")
l1

['a', 'B', 'b', 'c', 'a']

In [67]:
l1 = ["a","b","c","a"]
#      0   1   2   3
l1.append("B")
l1

['a', 'b', 'c', 'a', 'B']

In [68]:
l1 = ["a","b","c","a"]
l1 = l1 + ["B"]
l1

['a', 'b', 'c', 'a', 'B']

In [70]:
l1 = ["a","b","c","a"]
l1.append(["B"]) # liste olarak ekler
l1

['a', 'b', 'c', 'a', ['B']]

In [74]:
l1 = ["a","b","c","a"]
l1.append(["B",2,3,4,5]) # liste olarak ekler
l1

['a', 'b', 'c', 'a', ['B', 2, 3, 4, 5]]

In [73]:
l1 = ["a","b","c","a"]
l1.extend(["B",2,3,4,5]) # genişletme işlemi için kullanıldı
l1

['a', 'b', 'c', 'a', 'B', 2, 3, 4, 5]

### Güncelleme

In [76]:
l1 = ["a","b","c"]
#      0   1   2
l1[1] = "A"
l1

['a', 'A', 'c']

###  Silme
* pop
* remove
* del

In [81]:
# pop 
l1 = ["a","b","c"]
print(l1.pop()) # => c yi çıktı olarak verir
print(l1)

c
['a', 'b']

In [83]:
# pop 
l1 = ["a","b","c"]
#      0   1   2
print(l1.pop(1)) # => b yi çıktı olarak verir
print(l1)

b
['a', 'c']

In [84]:
# remove
l1 = ["a","b","c","a","c","b"]
l1.remove("a")
print(l1)

['b', 'c', 'a', 'c', 'b']

In [86]:
l1 = ["a","b","c","a","c","b"]
del l1[1]
l1

['a', 'c', 'a', 'c', 'b']

### Diğerleri
* count
* index
* copy
* sort
* reverse

In [87]:
l1 = ["a","b","c","a","c","b"]
l1.count("a")

2

In [88]:
l1 = ["a","b","c","a","c","b"]
l1.index("a")

0

In [93]:
a = [1,2,3]
b = a # aynı nesne
b.insert(0,500)
print(a,b)
print(id(a),id(b))

[500, 1, 2, 3] [500, 1, 2, 3]
140607217610560 140607217610560

In [91]:
a = [1,2,3]
b = a # aynı nesne
b.insert(0,500)
print(a,b)

[500, 1, 2, 3] [500, 1, 2, 3]

In [94]:
a = [1,2,3]
b = a.copy() # farklı nesne 
b.insert(0,500)
print(a,b)
print(id(a),id(b))

[1, 2, 3] [500, 1, 2, 3]
140607212040064 140607210564032

In [102]:
a = 258
b = 258
print(id(a),id(b))

140607208623248 140607208626000

In [101]:
a = b = 258
print(id(a),id(b))

140607208628144 140607208628144

In [103]:
l1 = [98,23,12]
l1.sort()
l1

[12, 23, 98]

In [109]:
l1 = [98,23,12]
l1.sort(reverse=True)
print(l1)

[98, 23, 12]

In [105]:
l1 = [98,23,12]
l1.reverse()
l1

[12, 23, 98]

In [107]:
l1 = [98,23,12]
print(l1[::-1])
l1

[12, 23, 98]

[98, 23, 12]

## tuple

In [110]:
demet = (1,2,3,[1,2,3],"TT",(1,2,3),print)

In [112]:
demet.index(2)

1

In [113]:
demet.index([1,2,3])

3

In [114]:
demet = (1)
print(type(demet))

<class 'int'>

In [115]:
demet = (1,)
print(type(demet))

<class 'tuple'>

In [116]:
demet = 1,2,3,[1,2,3],"TT",(1,2,3),print
print(type(demet))

<class 'tuple'>

In [118]:
def fonk(*args):
    print(type(args))
fonk(1,2,3,4)

<class 'tuple'>

In [119]:
def fonk(*args):
    print(type(args))
    return 1,2
fonk(1,2,3,4)
print(type(fonk(1,2,2,3)))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [120]:
print(type(input("Giriş:")))

<class 'str'>

In [121]:
int("123")

123

In [122]:
list("123")

['1', '2', '3']

In [124]:
tuple("123")

('1', '2', '3')

In [125]:
set("1232")

{'1', '2', '3'}

In [140]:
a = 2;demet = 1,2;demet;print(a);3

2

3